<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
">

    <!-- 搜索spring控制器 -->
    <context:component-scan base-package="com.albertiy.controller"></context:component-scan>
    <!--    <context:component-scan base-package="com.ecom.dao"></context:component-scan>
        <context:component-scan base-package="com.ecom.pojo"></context:component-scan>-->
    <!--3.0老版本-->
    <!--<context:annotation-config></context:annotation-config>-->
    <!--4.0版本-->
    <mvc:annotation-driven/>

    <!-- 视图页面配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀指定的是视图目录-->
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <!--后缀指定的是视图的扩展名-->
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

<!--    <mvc:interceptors>
        &lt;!&ndash; 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 &ndash;&gt;
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
        &lt;!&ndash; 如果不定义 mvc:mapping path 将拦截所有的URL请求 &ndash;&gt;
        <bean class="com.ecom.auth.AuthInterceptor"></bean>
    </mvc:interceptors>-->

    <!-- 资源配置方法 1 -->
<!--    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/images/**" location="/images/" />
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/admin/**" location="/admin/" />
    <mvc:resources mapping="/bank_img/**" location="/bank_img/" />
    <mvc:resources mapping="/fonts/**" location="/fonts/" />
    <mvc:resources mapping="/image/**" location="/image/" />
    <mvc:resources mapping="/img/**" location="/img/" />
    <mvc:resources mapping="/products/**" location="/products/" />-->
    <!--<mvc:resources mapping="/*.html" location="/" />-->
    <!-- 静态资源(js、image等)的访问 方法 2 -->
    <mvc:default-servlet-handler />

</beans>